--
-- PostgreSQL database dump
--


-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: songs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.songs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    spotify_id character varying(100) NOT NULL,
    title character varying(255) NOT NULL,
    artist character varying(255) NOT NULL,
    album character varying(255),
    genre character varying(100),
    popularity bigint,
    duration_ms bigint,
    danceability numeric DEFAULT 0,
    energy numeric DEFAULT 0,
    key bigint DEFAULT 0,
    loudness numeric DEFAULT 0,
    mode bigint DEFAULT 0,
    speechiness numeric DEFAULT 0,
    acousticness numeric DEFAULT 0,
    instrumentalness numeric DEFAULT 0,
    liveness numeric DEFAULT 0,
    valence numeric DEFAULT 0,
    tempo numeric DEFAULT 0,
    time_signature bigint DEFAULT 0,
    preview_url text,
    image_url text,
    created_at timestamp with time zone,
    has_custom_mp3 boolean DEFAULT false,
    custom_mp3_url text,
    custom_upload_date timestamp with time zone,
    source_type character varying(20) DEFAULT 'spotify'::character varying,
    youtube_id text
);


--
-- Name: user_likes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_likes (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    song_id uuid NOT NULL,
    created_at timestamp with time zone
);


--
-- Name: user_likes_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_likes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_likes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_likes_id_seq OWNED BY public.user_likes.id;


--
-- Name: user_plays; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_plays (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    song_id uuid NOT NULL,
    play_count bigint DEFAULT 1,
    last_played timestamp with time zone,
    created_at timestamp with time zone
);


--
-- Name: user_plays_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_plays_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_plays_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_plays_id_seq OWNED BY public.user_plays.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    username text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone,
    role character varying(20) DEFAULT 'user'::character varying
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: user_likes id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_likes ALTER COLUMN id SET DEFAULT nextval('public.user_likes_id_seq'::regclass);


--
-- Name: user_plays id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_plays ALTER COLUMN id SET DEFAULT nextval('public.user_plays_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: songs; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.songs VALUES ('a2df6fa2-b15b-4e40-adec-ea0da886f1ec', '5NmjnghJGJRFg34KGGx8O0', 'Seandainya', 'Vierra', 'My First Love', 'indonesian', 80, 263407, 0.5608258954946284, 0.7855472801793517, 6, -12.7321806368628, 1, 0.13885070402971547, 0.2720272337002459, 0.21642578352187827, 0.3133046445867163, 0.7045119046915614, 136.20988101509468, 4, '', 'https://i.scdn.co/image/ab67616d0000b273bdc17798be456d9e4ad28dc0', '2025-12-22 15:37:19.401618+07', false, '', NULL, 'spotify', NULL);
INSERT INTO public.songs VALUES ('aa491cc8-eaf7-40b9-b1de-22d697229d1f', '4e6TmHCC4PRUj75knNplNP', 'Mangu', 'Fourtwnty, Charita Utami', 'Nalar', 'indonesian', 80, 261048, 0.7867525522378906, 0.8529775500772053, 2, -3.208059887199756, 1, 0.075838629203355, 0.4302424264452769, 0.342750109114697, 0.3085981812983173, 0.3626506091683519, 151.49530651006722, 5, '', 'https://i.scdn.co/image/ab67616d0000b27332ab17f5515e51490841f648', '2025-12-22 15:37:19.407157+07', false, '', NULL, 'spotify', NULL);
INSERT INTO public.songs VALUES ('f4e97b84-a91a-4704-80ca-59bd849ceb0b', '25M9piWxSsq0xLcjQW5yz6', 'Bawa Dia Kembali', 'Mahalini', 'f├íbula', 'indonesian', 79, 226773, 0.8264806451135933, 0.5787577461286977, 6, -13.442146008571804, 1, 0.16269052369193068, 0.18403730071108487, 0.30745051711896126, 0.30024100921522756, 0.5584174449634498, 80.29118487663546, 4, '', 'https://i.scdn.co/image/ab67616d0000b2736f713eb92ebf7ca05a562542', '2025-12-22 15:37:19.411217+07', false, '', NULL, 'spotify', NULL);


--
-- Data for Name: user_likes; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.user_likes VALUES (10, 1, 'da83c4aa-f96f-436b-941d-fe2104d2c82c', '2025-12-26 10:26:34.406267+07');
INSERT INTO public.user_likes VALUES (38, 1, 'b4ae57ae-59d4-47bd-b406-f75ce5f7f226', '2025-12-26 10:49:25.732638+07');
INSERT INTO public.user_likes VALUES (44, 1, '42b1c9fa-4702-43d4-bb32-a74f1e6f8876', '2025-12-29 20:49:42.023119+07');


--
-- Data for Name: user_plays; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.user_plays VALUES (17, 1, '2208ea56-9d36-4517-a2ff-612bdc5c891c', 1, '2025-12-28 19:41:15.904856+07', '2025-12-28 19:41:15.905885+07');
INSERT INTO public.user_plays VALUES (4, 1, '42b1c9fa-4702-43d4-bb32-a74f1e6f8876', 16, '2025-12-29 20:44:15.021275+07', '2025-12-26 11:17:03.905509+07');
INSERT INTO public.user_plays VALUES (6, 1, 'f4e97b84-a91a-4704-80ca-59bd849ceb0b', 2, '2025-12-26 13:36:04.6444+07', '2025-12-26 13:36:02.117888+07');


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.users VALUES (1, 'admin wave', 'admin@gmail.com', '$2a$10$pcjFSvhccsTsrF3T2K9XQuZXMQoijW4Ue6LwEdH3zXnaDCq8fHRsG', '2025-12-22 15:17:43.463218+07', '2025-12-22 15:17:43.463218+07', NULL, 'admin');


--
-- Name: user_likes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_likes_id_seq', 44, true);


--
-- Name: user_plays_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_plays_id_seq', 17, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: songs songs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.songs
    ADD CONSTRAINT songs_pkey PRIMARY KEY (id);


--
-- Name: user_likes user_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_likes
    ADD CONSTRAINT user_likes_pkey PRIMARY KEY (id);


--
-- Name: user_plays user_plays_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_plays
    ADD CONSTRAINT user_plays_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_songs_spotify_id; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_songs_spotify_id ON public.songs USING btree (spotify_id);


--
-- Name: idx_user_likes_song_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_likes_song_id ON public.user_likes USING btree (song_id);


--
-- Name: idx_user_likes_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_likes_user_id ON public.user_likes USING btree (user_id);


--
-- Name: idx_user_plays_song_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_plays_song_id ON public.user_plays USING btree (song_id);


--
-- Name: idx_user_plays_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_plays_user_id ON public.user_plays USING btree (user_id);


--
-- Name: idx_users_deleted_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_deleted_at ON public.users USING btree (deleted_at);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: user_likes fk_user_likes_song; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_likes
    ADD CONSTRAINT fk_user_likes_song FOREIGN KEY (song_id) REFERENCES public.songs(id);


--
-- Name: user_plays fk_user_plays_song; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_plays
    ADD CONSTRAINT fk_user_plays_song FOREIGN KEY (song_id) REFERENCES public.songs(id);


--
-- Name: user_likes fk_users_likes; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_likes
    ADD CONSTRAINT fk_users_likes FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_plays fk_users_plays; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_plays
    ADD CONSTRAINT fk_users_plays FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--


